# .gitignore
# Exclure le fichier .env de l'image Docker
.env

# Exclure le dossier node_modules
node_modules/

# Exclure les logs
*.log
logs/

# Exclure les fichiers de configuration des éditeurs
.vscode/
.idea/

# Exclure les fichiers de sauvegarde
*~
*.bak

# Exclure les fichiers de certificats
certificates/
*.pem
*.key

# Exclure les fichiers de clé ssh
known_hosts

# Scripts de promotion temporaires
backend/scripts/dev-only/

